@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: OpenSans, sans-serif;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  position: relative;
  background-color: #000000;
  padding: 28px 0 127px;
  background-size: cover;
  max-width: 1660px;
  margin: 0 auto;
}

.header::after,
.trends-content::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
}

.header-logo {
  width: 180px;
  display: block;
}

.menu-list {
  display: flex;
}

.menu-link {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}

.menu-link:hover {
  content: "";
  border-bottom: 1px solid #ffffff;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  margin: 0 auto;
  font-weight: 700;
  font-style: normal;
  max-width: 689px;
  margin-top: 104px;
  line-height: 75px;
  color: #ffffff;
}


.articles-container {
  display: flex;
  padding-top: 57px;
  justify-content: space-between;
}

.articles {
  display: flex;
  flex-direction: column;
  max-width: 774px;
}

.article {
  display: flex;
}

.article-img {
  display: block;
  max-width: 381px;
  padding-top: 6px;
}

.article-box {
  margin-left: 30px;
}

.article-category-list {
  display: flex;
}

.article-category-item:nth-child(n + 2) {
  margin-left: 19px;
}

.article-category-link {
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-transform: uppercase;
}

.article-category-link:hover {
  content: "";
  border-bottom: 2px solid #b59f5b;
}

.article-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}

.article-title-link {
  color: #0f0d0e;
}

.article-date {
  display: block;
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 48px;
}

.article-date:after {
  content: "Неизвестный автор";
  margin-left: 12px;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}

.article-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #0f0d0e;
  margin-top: 10px;
}

.article:nth-child(n + 2) {
  margin-top: 54px;
}

.aside {
  max-width: 272px;
}

.new-posts {
  display: flex;
  flex-direction: column;
}

.new-post {
  display: flex;
  margin-top: 42px;
}

.new-post:nth-child(n + 3) {
  margin-top: 22px;
}

.headline {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.headline::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  z-index: -1;
  top: 28px;
  left: 107px;
}

.img-post {
  display: block;
  width: 70px;
}

.post-box {
  margin-left: 20px;
}

.post-date {
  display: block;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  line-height: 5px;
}

.post-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin-top: 9px;
}

.post-link {
  color: #000000;
}

.new-posts:nth-child(n + 3) {
  margin-top: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  margin-top: 60px;
  display: flex;
}

.search-group {
  flex-grow: 1;
}

.button {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  width: 50px;
  background-repeat: no-repeat;
  border: none;
  background-color: #b59f5b;
  background-size: 18px;
  background-position: center;
}

.field {
  width: 100%;
  background-color: #f4f7f6;
  border: none;
  padding: 15px 0 15px 17px;
}

.field:focus {
  outline: none;
  border: 2px solid #b59f5b;
}

.button-subscribe {
  width: 100%;
  margin-top: 18px;
  border: none;
  text-transform: uppercase;
  padding: 15px 82px;
  font-weight: 700;
  background-color: #b59f5b;
  color: #ffffff;
}

.subscription {
  margin-top: 57px;
}

.subscription-form {
  margin-top: 35px;
}

.tags {
  margin-top: 58px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.tag-list-item {
  border: 3px solid #eeeeee;
  padding: 4px 13px;
  margin-right: 8px;
  margin-bottom: 7px;
  font-size: 12px;
}

.tag-link {
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: 700;
}

.categories {
  margin-top: 50px;
}

.category-list {
  margin-top: 34px;
}

.category-list-item {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 13px;
  font-size: 14px;
  padding-bottom: 11px;
}

.category-link {
  color: #000000;
  font-weight: 700;
}

.category-sup {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 88px;
}

.socials {
  display: flex;
  justify-content: center;
  background-color: #f4f7f6;
  padding: 32px 0;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.dribbble {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
  margin-right: 30px;
}

.pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
  margin-right: 23px;
}

.tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
  display: block;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
}



.trends {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1660px;
  margin: 0 auto;
}

.trends-title,
.shop-title {
  font-size: 20px;
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 57px 0 40px;
}

.trends-title::before,
.shop-title::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  z-index: -1;
  top: 92px;
  right: 58px;
}


.trends-items {
  display: flex;
  gap: 4px;
  margin: 0 auto;
}

.trends-content {
  width: 25%;
  background-color: #606260;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 25px 15px 25px;
  position: relative;
  z-index: 0;
}

.trends ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.trends li {
  font-size: 14px;
  color: rgb(181, 159, 91);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;

}

.trends p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: left;
  margin-top: 5px;
  word-wrap: break-word;
}

.interior {
  background-size: cover;
  background-image: url(../images/trend1.jpg);
  text-align: center;
}

.food {
  background-size: cover;
  background-image: url(../images/trend2.jpg);
  text-align: center;
}

.travel {
  background-size: cover;
  background-image: url(../images/trend3.jpg);
  text-align: center;
}

.health {
  background-size: cover;
  background-image: url(../images/trend4.jpg);
  text-align: center;
}

.text-trends {
  border: 3px solid #b59f5b;
  padding: 35px 0px 35px 30px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-container {
  display: flex;
  padding-left: 23px;
  padding-right: 25px;
  gap: calc((1122px - 900px) / 2)

}

.shop-content {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
}

.shop-subtitle {
    font-size: 20px;
    color: rgb(15, 13, 14);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.shop-text {
    font-size: 15px;
    color: rgb(15, 13, 14);
    line-height: 22px;
    margin-top: 2px;
}

.shop-price {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: relative;
    flex-grow: 1;
}

.pillow::before {
  content: "1000 \20BD";
  position: absolute;
  font-size: 14px;
  z-index: -1;
  top: -20px;
  text-decoration: line-through;
}

.frame::before {
  content: "500 \20BD";
  position: absolute;
  font-size: 14px;
  z-index: -1;
  top: -20px;
  text-decoration: line-through;
}

.shop-footer button {
  width: 140px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(181, 159, 91);
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.shop-footer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 20px;
  position: relative;
  align-items: flex-end;
}

.shop-outline {
  outline: #b59f5b solid 3px;
  outline-offset: 20px;
  flex-grow: 1;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-top: -10px;
}

.shop-link {
  color: #b59f5b;
}

.shop-link:hover {
  text-decoration: underline;
}


.checkbox {
  display: none;
}

.burger-menu-checked {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 53px;
  right: 37px;
}

.burger-menu-closed {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 53px;
  right: 37px;
}

picture {
  text-align: center;
}

.shop-img {
  max-width: 100%;
}

@media (max-width: 1199px)  {
  .menu-list {
    display: none;
    flex-direction: column;
    margin: 0;
    position: absolute;
    right: 70px;
    top: 20px;
    height: 0;
    max-height: 100px;
  }

  .menu-list-item:nth-child(n + 2) {
    margin-left: 0;
  }

  .burger-menu-checked {
    display: block; 
  }

  .burger-menu-closed {
    display: none;
    
  }

  .checkbox:checked ~ .menu-list {
    display: block;
  }

  .checkbox:checked ~ label .burger-menu-checked {
    display: none;
  }

  .checkbox:checked ~ label .burger-menu-closed {
    display: block;
  }

/* header */

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    min-width: 391px;
    padding-top: 44px;
    padding-bottom: 113px;
  }

  .header-logo {
    width: 10em;
  }

  .container {
    padding: 0 4.558% 0 4.558%;
  }

  .title {
    font-size: 2.5em;
    max-width: 15.28em;
    margin-top: 88px;
    line-height: 1.375em;
  }

  .trends-title, .shop-title {
    font-size: 1.125em;
    padding: 44px 0 30px;
  }

  .trends-title::before, .shop-title::before {
    top: 78px;
    right: 49px;
    width: 3.75em;
  }
  

  .trends-items {
    flex-wrap: wrap;
  }

  .text-trends {
    padding: 33px 32px 29px 30px;
  }

  .trends p {
    font-size: 17px;
    line-height: 22px;
}

  .trends-content {
    width: calc((100% - 4px) / 2);
    min-height: 247px;
    padding: 0px 20px 15px 21px;
  }

  .articles {
    max-width: 56.6%;
  }


  .article {
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 4px solid rgb(238, 238, 238);
    }

    .article:nth-child(n + 2) {
      margin-top: 36px;
  }
    

  .articles-container {
    padding-top: 46px;
}

.article-text {
  max-width: 390.5px;
}


  .new-post {
    margin-top: 43px;
}

.post-title {
  margin-top: 8px;
}  

  .shop-container {
    flex-wrap: wrap;
    column-gap: 11%;
    row-gap: 50px;
    padding-left: 3%;
    padding-right: 3.3%;
    padding-top: 10px;  
  }
  
  .shop-subtitle {
    font-size: 17px;
  }

  .shop-outline {
    outline-offset: 21px;
    padding-top: 29px;
    padding-bottom: 5px;
    margin-top: -14px;
}
  
  .aside {
    max-width: 39%  ;
    margin-left: 0;
  }

  .article-box {
    margin-left: 0;
    padding-top: 10px;
    width: auto;
  }

  .article-title {
    font-size: 17px;
    line-height: 22px;
    margin-top: 8px;
  } 

  .article-img {
    max-width: 391px;
    object-fit: cover;
  }

  .article-date {
    margin-top: 30px;
    margin-bottom: 29px;
}

.shop-content {
  width: 44.5%;
}

.footer {
  padding: 0 2.063em 0 2.1875em;
  margin-top: 75px;
}

.copyright {
  padding-top: 45px;
}

  .shop-title {
  padding: 39px 0 29px;
  }

  .shop-title::before {
    top: 73px;
    right: 45px;
  }

} 
@media ((max-width: 1199px) and (orientation:landscape)){
  .trends-content {
  width: calc((100% - 12px) / 4);
  }
}
@media (max-width: 640px) {

  .container {
    padding: 0 15px 0;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
    width: 100%;
    max-width: 767px;
    padding-top: 225px;
    padding-bottom: 211px;
    min-width: 0;
  }

  .header-items {
    justify-content: center;
  }

  .title {
    font-size: 26px;
    line-height: 36px;
    margin-top: 34px;
  }

  .header-logo {
    width: 269px;
  }

.trends-title, .shop-title {
  font-size: 16px;
  padding: 39px 0 34px;   
  } 

.trends-title::before, .shop-title::before {
  top: 68px;
  right: 43px;
  width: 3.9em;
  }

  .trends-content {
    width: 100%;
  }

  .trends p {
    font-size: 16px;
    line-height: 20px;
  }

  .articles-container {
    flex-direction: column;
    padding-top: 38px;
  }

  .article-img {
    max-width: 100%;
  }

  .trends-content {
    min-height: 232px;
    padding: 0px 16px 17px 16px;
  }

  .text-trends {
    padding: 30px 26px 26px 19px;
  }

  .trends-items {
    gap: 2px;
  }

  .article-title {
    font-size: 16px;
    line-height: 20px;
  }

  .article-box {
    padding-top: 6px;
  }

  .article-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }

  .article-date {
    margin-top: 18px;
    margin-bottom: 14px;
}

.article {
  padding-bottom: 20px;
}

.article:nth-child(n + 2) {
  margin-top: 29px;
}

.aside {
  margin-left: 0;
  padding-top: 39px;
  max-width: 100%;
}

.headline {
  font-size: 16px;
}

.headline::before {
  top: 29px;
  left: 131px;
}

.post-title {
  margin-top: 6px;
}

.subscription {
  margin-top: 34px;
}

.tags {
  margin-top: 40px;
}

.tag-list-item {
  margin-right: 5px;
}

.categories {
  margin-top: 32px;
}

.shop-title {
  padding: 30px 0 30px;
}

.shop-content {
  width: 100%;
  flex-grow: 1;
}

.shop-title::before {
  top: 64px;
  right: 38px;
  width: 4em;
} 

.shop-text {
  margin-top: 4px;
}

.footer {
  padding: 0 15px 0 15px;
  margin-top: 58px;
}

.articles {
  max-width: 100%;
}

}

@media ((max-width: 640px) and (orientation:landscape)) {
  .trends-content {
    width: calc((100% - 4px) / 2);
    }
}